.sidebar {
  flex-basis: 56rem;
  background-color: #262f32;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  flex: 3;
}

.footer {
  margin: auto;
}

.copyright {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #fff;
}
